.Rproj.user
.Rhistory
.RData
.Ruserdata
pdf_document.yaml
blogdown_html_page.yaml
Environmental_Informatics_Project.log
Environmental_Informatics_Project_cache
Environmental_Informatics_Project_files
