.Rproj.user
.Rhistory
.RData
.Ruserdata
Envionmental_Informatics_Project_cache
Envionmental_Informatics_Project_files
Envionmental_Informatics_Project.log
Envionmental_Informatics_Project.tex
Envionmental_Informatics_Project_Website_cache
Envionmental_Informatics_Project_Website_files
